.videobtn{
    width: 260px;
    height: 260px;
    padding: 0px;
}
.thumbnail{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 150px;
    background-color:cadetblue;
    border-radius: 3px;
    border-radius: 10px;
}
.thumbnail-image{
    width: 256px;
    height: 128px;
    object-fit: cover;
}
.search-box{
    width: 300px;
    height: 100px;
    background-color: cadetblue;
    margin: auto;
}
body{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
h3{
    color: white;
    font-size: 24px;
    margin: 0 auto;
}
img{
    width: 256;
    height: 256;
}
h1{
    margin: auto;
    font-size: 80px;
    color:cadetblue;
}